body{
	padding: 0;
	margin: 0;
}
.card-img-overlay{
	background-color: rgba(52, 152, 219, 0.7);
	height: 100%;
	width: 100%;
	max-width: 100%;
}

.bleu:hover{
	background-color: #007BFF;
	color: white;
}

.bleu:hover .fab{
	color: white;
}

